body {
    width: 700px;
    margin: auto;
    margin-top: 40px;
    text-align: left;
    font-size: 3em;
    background-color: #FFDC00;
}

.activity, .attr, .repl {
    font-weight: bold;
}

.navbar {
    font-size: 18px;
    border-top: solid black 2px;
    margin-top: 20px;
    padding-top: 20px;
}

table {
    font-size: 14pt;
    background: #fff;
}

input.ft-filter {
    width: 100%;
    margin-bottom: 20px;
}

p.page-msg {
    border-color: #4cae4c;
    background-color: #5cb85c;
    border: 1px solid transparent;
    color: #fff;
    padding: 3px;
}

#dupes {
    font-size: 12pt;
}

.mode-current {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}